html, body {
  width: 100%;
  height: 100%; }

#create_button {
  width: 25%;
  height: auto;
  margin: 0 auto;
  padding: 5px 10px;
  text-align: center;
  color: white;
  background-color: #42CC79; }

h1 {
  color: red; }

#preview {
  background-color: #ccc; }

.classtest {
  background-color: red; }

#idtest {
  color: green; }

#divtest {
  color: blue; }

p {
  text-decoration: underline; }
