html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Raleway",sans-serif;
  font-weight: 500;
  overflow: hidden; }

*:focus {
  outline: 0; }

h2 {
  margin-top: 0; }

header {
  width: calc(100% / 3);
  margin-left: calc(100% / 3);
  padding-right: 50px;
  box-sizing: border-box; }

nav {
  margin-top: 20px;
  font-size: 0em;
  padding: 70px 0 50px 0;
  margin: 0;
  text-align: center; }
  nav .navlink {
    position: relative;
    vertical-align: text-top;
    display: inline-block;
    text-align: left; }
    nav .navlink .navlink_button {
      padding: 5px 15px;
      border-bottom: 0;
      margin: 6px 20px 0px 0px;
      color: black;
      text-decoration: none;
      font-size: 13px;
      font-weight: 600;
      border-style: solid;
      border-width: 2px;
      vertical-align: text-top;
      display: block; }
    nav .navlink.current .navlink_button {
      border-style: none;
      font-size: 35px;
      font-weight: 700;
      padding: 0;
      margin: 0;
      letter-spacing: 2px; }
    nav .navlink.current#documentsbutton .navlink_button {
      color: #B3BDE2; }
    nav .navlink.current#modulesbutton .navlink_button {
      color: #BFE3D5; }
    nav .navlink.current .createnew {
      display: block; }
    nav .navlink .createnew {
      display: none;
      border-style: none;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 1px;
      text-decoration: none;
      color: black; }
      nav .navlink .createnew:before {
        content: '+ ';
        position: relative;
        top: -5px; }

main {
  height: calc(100% - 255px);
  box-sizing: border-box; }

.container {
  position: relative;
  width: 100%;
  height: 100%; }

.main_element, .properties, .navigation, .preview {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(33% - 100px);
  width: calc(100% / 3);
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 50px;
  box-sizing: border-box; }

.properties {
  padding-right: 75px;
  padding-left: 75px; }

.navigation {
  left: calc(33% + 100px);
  left: calc(100% / 3);
  padding-left: 0; }

.preview {
  left: calc(66% + 100px);
  left: calc(200% / 3);
  padding-left: 25px;
  padding-right: 75px; }

.document_tags {
  overflow-y: scroll;
  text-align: justify; }

.button {
  border: 2px solid black;
  padding: 5px;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 20px; }

.search {
  border: 2px solid black;
  box-shadow: 5px 5px 0px black;
  margin-bottom: 15px;
  margin-bottom: 75px;
  text-transform: uppercase;
  font-size: 0.95em;
  padding: 5px 15px;
  box-sizing: border-box;
  margin-right: 5px;
  position: relative; }
  .search:after {
    position: absolute;
    top: 2px;
    right: 10px;
    content: '';
    width: 20px;
    height: 20px;
    background: url("img/search_icon.svg");
    background-size: 100%; }

[contentEditable]:empty:not(:focus):after {
  content: attr(data-placeholder);
  opacity: 0.5; }

.document_overview {
  position: relative; }

.properties {
  font-size: 13px; }
  .properties h2 {
    font-size: 1.3em;
    font-weight: 600; }

.document_tags {
  text-align: justify;
  height: calc(100% - 167px);
  overflow-y: scroll;
  position: relative;
  left: -4px;
  width: calc(100% + 8px); }

.tag, #document_tags_addTag {
  display: inline-block;
  background: white;
  border-style: solid;
  border-color: #B3BDE2;
  margin: 7px 4px;
  padding: 5px 13px;
  font-size: 0.95em; }
  .tag.selected, .selected#document_tags_addTag {
    background: #B3BDE2; }
  .tag a, #document_tags_addTag a {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease-in-out; }
    .tag a:hover, #document_tags_addTag a:hover {
      color: blue; }

.sort {
  margin-bottom: 5px;
  position: relative;
  text-align: right;
  font-size: 0.75em;
  font-weight: 600;
  padding-bottom: 10px;
  padding-right: 10px; }
  .sort:before {
    content: 'sort by';
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0; }
  .sort .selected {
    color: #B3BDE2; }
  .sort a {
    color: black;
    border-right: 1px solid black;
    padding-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: none; }
    .sort a:last-child {
      border-right: 0;
      padding-right: 10px; }

.document {
  background: #B3BDE2;
  margin-bottom: 18px;
  padding: 8px;
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
  position: relative; }
  .document a {
    color: white;
    text-decoration: none; }
  .document.indent-1 {
    margin-left: 50px; }

.document_container {
  overflow-y: scroll;
  position: relative; }

.document_date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em; }
  .document_date * {
    display: inline-block;
    padding: 0 20px;
    margin-top: 10px;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 1px; }

.document_overview {
  height: 100%;
  overflow-y: scroll; }

.document_selected {
  border: 2px solid black; }

.preview_buttons {
  margin-bottom: 35px;
  position: absolute;
  top: 0;
  right: 0;
  display: none; }
  .preview_buttons a {
    text-decoration: none; }
  .preview_buttons svg {
    width: 35px;
    height: 35px; }
  .preview_buttons svg * {
    stroke: black; }
  .preview_buttons.show {
    display: block; }

.document_preview_container {
  border: 2px solid black;
  box-sizing: border-box;
  position: relative;
  font-weight: 200;
  font-size: 0.9em; }
  .document_preview_container h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25em;
    letter-spacing: 1px;
    margin-top: 20px; }

.document_container.filtered .document {
  display: none; }

.document_container.filtered .document.documentVisible {
  display: block; }
  .document_container.filtered .document.documentVisible .document_preview {
    padding: 12px 40px 35px 40px; }

html, body {
  overflow: auto; }

.document_overview {
  width: calc(100%/3*2);
  padding-right: 50px; }

.title {
  color: #ffd385;
  padding: 3px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 0.75em; }

.title_edit {
  margin-bottom: 30px;
  font-size: 0.95em;
  padding: 5px;
  border: 2px solid black;
  padding: 3px;
  display: inline-block;
  box-shadow: 5px 5px 0px black;
  padding: 7px 15px; }

.sort {
  margin-bottom: 5px; }
  .sort a {
    color: black; }

.add_module {
  margin-top: 20px; }

.document_overview .search {
  margin-bottom: 20px;
  width: 25%;
  display: inline-block; }

.module, .edit_module {
  position: relative;
  background: #ffd385;
  margin-bottom: 18px;
  padding: 5px;
  color: white;
  padding: 8px;
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 0.9em; }
  .module .module_title, .edit_module .module_title {
    display: inline-block;
    margin: 0;
    padding: 0; }
  .module p, .edit_module p {
    text-transform: none; }
  .module .modulebutton, .edit_module .modulebutton {
    position: absolute;
    top: 7px;
    display: inline-block;
    padding: 0px 3px;
    font-size: 0.75em; }
  .module .edit, .edit_module .edit {
    right: 35px;
    top: 8px; }
  .module .remove, .edit_module .remove {
    top: 9px;
    right: 1px; }
  .module .save, .edit_module .save {
    right: 10px; }

.module_container.show .edit_module {
  display: block; }

.edit_module {
  color: black;
  background-color: white;
  border: 2px solid black;
  padding: 15px;
  padding-right: 25px;
  margin-right: 5px;
  box-sizing: border-box;
  box-shadow: 5px 5px 0px black;
  height: auto;
  margin-bottom: 22px;
  font-weight: 200;
  font-size: 0.9em;
  display: none; }
  .edit_module .module_title {
    color: #ffd385;
    text-transform: uppercase;
    font-weight: 600; }

.document_module_container h2 {
  font-weight: 600;
  margin-bottom: 0; }

.insertModule {
  display: inline-block;
  position: relative;
  padding: 10px 5px;
  font-size: 1em; }
  .insertModule .insertMod {
    display: inline-block; }
  .insertModule .insertText {
    position: absolute;
    right: 5px;
    display: inline-block; }
  .insertModule .addButton {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border: 2px solid black;
    text-align: center;
    font-size: 1em;
    line-height: 18px; }
  .insertModule p {
    display: inline-block;
    margin: 0;
    padding: 0; }

.module_bottom_buttons {
  position: absolute;
  bottom: 0px; }

.deleteButton {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 0; }

.preview_header {
  padding: 0;
  padding-top: 32px;
  margin: 0;
  display: inline-block;
  font-weight: 200;
  font-size: 0.9em; }
  .preview_header .preview_title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25em;
    letter-spacing: 1px;
    display: inline-block; }
  .preview_header .preview_icons {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 15px; }

.document_edit_tags .tag, .document_edit_tags #document_tags_addTag {
  position: relative; }
  .document_edit_tags .tag:after, .document_edit_tags #document_tags_addTag:after {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background: url("img/delete_icon.svg");
    background-size: 100%;
    vertical-align: text-top; }

.document_edit_navigation, .document_edit_preview {
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(66% - 10px);
  height: 100%; }

.document_edit_preview {
  height: auto;
  width: calc(33% - 20px);
  left: calc(66% + 10px); }

#document_tags_addTag {
  padding-top: 1px;
  padding-bottom: 2px; }
  #document_tags_addTag input {
    width: 70px;
    border: 0;
    font-size: 0.95em; }

.title_edit {
  margin-bottom: 30px;
  font-size: 0.95em;
  padding: 5px;
  border: 2px solid black;
  padding: 3px;
  display: inline-block;
  box-shadow: 5px 5px 0px black;
  padding: 7px 15px; }

.content_edit {
  margin-bottom: 30px;
  font-size: 0.95em;
  padding: 5px;
  border: 2px solid black;
  padding: 3px;
  display: inline-block;
  box-shadow: 5px 5px 0px black;
  padding: 7px 15px; }

.module_overview .document {
  background: #BFE3D5; }
.module_overview .sort a.selected {
  color: #BFE3D5; }

.module_preview {
  border: 2px solid black;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 32px 40px 35px 40px;
  box-sizing: border-box;
  font-weight: 200;
  font-size: 0.9em; }

.module_properties .tag, .module_properties #document_tags_addTag {
  background: white;
  border-color: #BFE3D5; }
  .module_properties .tag.selected, .module_properties .selected#document_tags_addTag {
    background: #BFE3D5; }

.module_item {
  background: #BFE3D5;
  margin-bottom: 18px;
  padding: 8px;
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
  position: relative; }
  .module_item a {
    color: white;
    text-decoration: none; }
  .module_item.indent-1 {
    margin-left: 50px; }

.module_title {
  padding: 0;
  margin: 0;
  margin-right: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.module_date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em; }
  .module_date * {
    display: inline-block;
    padding: 0 20px;
    margin-top: 10px;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 1px; }

.module_selected {
  background: #CDF5E5; }

textarea {
  resize: none;
  width: 100%;
  border: 0;
  padding: 20px;
  box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 200;
  font-size: 0.9em; }
