$editdocument_color : #FFD385;
html, body{
	overflow: auto;
}
.document_overview{
	width: calc(100%/3*2);
	padding-right: $margin/2;
}
.title{
	color:$editdocument_color;
	padding: 3px;
	margin-bottom: 12px;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: 600;
	line-height: 0.75em;
}
.title_edit{
	margin-bottom: 30px;
	font-size: 0.95em;
	padding: 5px;
	border: 2px solid black;
	padding: 3px;
	display: inline-block;
	box-shadow: 5px 5px 0px black;

	padding:7px 15px;
}

.sort{
	margin-bottom: 5px;
	a{
		color: black;
	}
}


.add_module{
	margin-top: 20px; 
}
.document_overview .search{
	margin-bottom: 20px;
	width: 25%;
	display: inline-block;
}
.module{
	position:relative;
	background: $editdocument_color;
	margin-bottom: 18px;
	padding: 5px;
	// margin-right: 20px;
	color:white;
	padding: 8px;
	padding-left: 15px;
	text-transform: uppercase;
	font-size: 0.9em;
	.module_title {
		display:inline-block;
		margin:0;
		padding:0;
	}
	p{
		text-transform: none;
	}
	.modulebutton {
		position: absolute;
		top:7px;
		display: inline-block;
		padding:0px 3px;
		font-size: 0.75em;
	}
	.edit {
		right:35px;
		top:8px;
	}
	.remove {
		top:9px;
		right:1px;
	}
	.save {

		right:10px;
	}
	
}
.module_container{
	&.show .edit_module{
		display: block;
	}
}
.edit_module{
	@extend .module;
	color: black;
	background-color: white;
	border: 2px solid black;
	padding: 15px;
	padding-right: 25px;
	margin-right: 5px;
	box-sizing: border-box;
	box-shadow: 5px 5px 0px black;
	height:auto;
	margin-bottom: 22px;
	font-weight: 200;
	font-size: 0.9em;
	display: none;
	.module_title{
		color: $editdocument_color;
		text-transform: uppercase;
		font-weight: 600;
	}
}
.document_module_container{
	h2 {
		font-weight: 600;
		margin-bottom:0;
	}
}

.insertModule {
	display: inline-block;
	position:relative;
	padding:10px 5px;
	font-size:1em;
	.insertMod {
		display: inline-block;
	}
	.insertText {
		position: absolute;
		right:5px;
		display: inline-block;

	}
	.addButton {
		display: inline-block;
		width:16px;
		height:16px;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		border-radius: 16px;
		border:2px solid black;
		text-align: center;
		font-size:1em;
		line-height:18px;
	}
	p {
		display: inline-block;
		margin:0;
		padding:0;
	}
}

.module_bottom_buttons {
	position:absolute;
	bottom:0px;
}

.deleteButton {
	position:absolute;
	bottom:0px;
	right:0px;
	margin-right:0;
}

.preview_header{
	padding: 0;
	padding-top: 32px;
	margin: 0;
	display: inline-block;
	font-weight: 200;
	font-size: 0.9em;
	.preview_title{
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.25em;
		letter-spacing: 1px;
		display: inline-block;
	}
	.preview_icons{
	display: inline-block;
	position: absolute;
	right: 10px;
	top:15px;	
	}
}

.document_edit_tags .tag{
	position: relative;
		&:after{
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			margin-left: 5px;
			background: url('img/delete_icon.svg');
			background-size: 100%;
			vertical-align: text-top;
		}
}
.document_edit_navigation{
	position: absolute;
	top: 0;
	left: 20px;
	width: calc(66% - 10px);
	height: 100%;
	
}
.document_edit_preview{
	height: auto;
	@extend .document_edit_navigation;
	width: calc(33% - 20px);
	left: calc(66% + 10px);	
}
#document_tags_addTag{
	@extend .tag;
	padding-top: 1px;
	padding-bottom: 2px;
	input{
		width: 70px;
		border: 0;
		font-size: 0.95em;
	}
}