.module_overview{
	.document{
		background: #BFE3D5;
	}
	.sort{
		a {
			&.selected{
			color: #BFE3D5;
			}
		}
	}
}
.module_preview{
	border: 2px solid black;
	padding: 20px;
	box-sizing: border-box;
	border: 2px solid black;
	padding: 32px 40px 35px 40px;
	box-sizing: border-box;
	font-weight: 200;
	font-size: 0.9em;
}
.module_properties{
	.tag{
		background: white;
		border-color: #BFE3D5;
		&.selected{
			background: #BFE3D5;
		}
	}
}

.module_item{
	background: #BFE3D5;
	margin-bottom: 18px;
	padding: 8px;
	padding-left: 15px;
	text-transform: uppercase;
	font-size: 0.9em;
	color: white;
	position: relative;
	a{
		color: white;
		text-decoration: none;
	}
	&.indent-1{
		margin-left: 50px;
	}
}

.module_title{
	padding: 0;
	margin: 0;
	margin-right:200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.module_date{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.75em;
	*{
		display: inline-block;
		padding: 0 20px;
		margin-top: 10px;
		border-left-style: solid;
		border-left-color: white;
		border-left-width: 1px;
	}
}

.module_selected{
	background: #CDF5E5;
}

textarea{
	resize:none;
	width:100%;
	border:0;
	padding: 20px;
	box-sizing: border-box;
	
	box-sizing: border-box;
	font-weight: 200;
	font-size: 0.9em;
}