.title_edit{
	margin-bottom: 30px;
	font-size: 0.95em;
	padding: 5px;
	border: 2px solid black;
	padding: 3px;
	display: inline-block;
	box-shadow: 5px 5px 0px black;

	padding:7px 15px;
}

.content_edit{
	margin-bottom: 30px;
	font-size: 0.95em;
	padding: 5px;
	border: 2px solid black;
	padding: 3px;
	display: inline-block;
	box-shadow: 5px 5px 0px black;

	padding:7px 15px;
}