.title_edit{
	margin-bottom: 30px;
	font-size: 0.95em;
	padding: 5px;
	border: 2px solid black;
	padding: 3px;
	display: inline-block;
	box-shadow: 5px 5px 0px black;
	min-width: 100px;
	padding:7px 15px;
}

.content_edit{
	margin-bottom: 30px;
	font-size: 0.95em;
	padding: 5px;
	border: 2px solid black;
	padding: 3px;
	display: inline-block;
	box-shadow: 5px 5px 0px black;
	min-width:100px;
	padding:7px 15px;
}

#module_tags_tag{
	border: 3px solid #ee382d;
	margin-bottom: 35px;
	
	padding: 5px 13px;
	font-family: "Raleway",sans-serif;
	font-size: 1em;
	color:black;
}
.tag{
	border-color: #ee382d;
	margin: 7px 4px 4px 0;
}