.module_overview{
	.document{
		background: #BFE3D5;
	}
}
.module_preview{
	border: 2px solid black;
	padding: 20px;
	height: 100%;
	box-sizing: border-box;
}
.module_properties{
	.tag{
		background: #BFE3D5;
		border-color: #BFE3D5;
		&.selected{
			background: white;
		}
	}
}