html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Raleway",sans-serif;
  overflow: hidden; }

header {
  margin-top: 20px;
  font-size: 0em; }
  header a {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 20px;
    border: 2px solid black;
    font-size: 2rem;
    margin-left: 20px;
    color: black;
    width: calc(25% - 20px);
    text-decoration: none;
    box-shadow: 0px 0px 0px black;
    transition: box-shadow 0.2s ease-in-out;
    transition-property: box-shadow,top,left;
    top: 0;
    left: 0; }
    header a.current {
      font-weight: bold;
      box-shadow: 5px 5px 0px black;
      top: -5px;
      left: -5px; }
    header a:hover {
      box-shadow: 5px 5px 0px black;
      top: -5px;
      left: -5px; }

main {
  padding: 20px;
  width: 100%;
  height: calc(100% - 90px);
  box-sizing: border-box; }

.container {
  position: relative;
  width: 100%;
  height: 100%; }

.navigation, .preview {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50% - 10px);
  height: 100%;
  overflow-y: scroll; }

.preview {
  left: calc(50% + 10px); }

.button {
  border: 2px solid black;
  padding: 5px;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 20px; }
  .button.delete {
    background: #f0606d; }

.document_overview {
  position: relative; }

.search {
  border: 2px solid black;
  padding: 3px;
  margin-bottom: 15px;
  outline: none; }

.sort {
  margin-bottom: 5px; }
  .sort a {
    color: black; }

.document {
  background: #88d0cc;
  margin-bottom: 10px;
  padding: 5px; }
  .document[data-indent="1"] {
    margin-left: 35px; }

.document_selected {
  background: rgba(136, 208, 204, 0.5); }

.document_container {
  height: calc(100% - 68px);
  overflow-y: scroll;
  position: relative; }

.preview_buttons {
  margin-bottom: 35px; }
  .preview_buttons a {
    color: black;
    text-decoration: none; }

.document_preview {
  border: 2px solid black;
  padding: 20px;
  height: calc(100% - 68px);
  box-sizing: border-box; }

.document_attr {
  border: 2px solid black;
  padding: 3px;
  margin-bottom: 15px;
  outline: none;
  font-size: 1.6em; }

.sort {
  margin-bottom: 5px; }
  .sort a {
    color: black; }

.module {
  position: relative;
  background: #A9D0EF;
  margin-bottom: 10px;
  padding: 5px;
  min-height: 20px; }
  .module p {
    display: inline-block;
    margin: 0;
    padding: 0; }
  .module .modulebutton {
    position: absolute;
    top: 7px;
    display: inline-block;
    border: 1px solid black;
    padding: 0px 3px;
    font-size: 0.75em; }
  .module .edit {
    right: 35px; }
  .module .remove {
    right: 10px;
    color: black;
    text-decoration: none; }
  .module.show .module_content {
    display: block; }

.module_content {
  display: none;
  background: white; }

.document_module_container h2 {
  font-weight: 600;
  margin-bottom: 0; }

.document_module_bottons {
  margin-bottom: 10px; }

.insertModule {
  position: relative;
  padding: 10px 5px 10px 0;
  color: black;
  text-decoration: none; }
  .insertModule:before {
    content: '+';
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    border: 2px solid black;
    text-align: center;
    font-size: 1em;
    line-height: 18px;
    margin-right: 5px; }

.module_bottom_buttons {
  position: absolute;
  bottom: 0px; }

.document_module_title {
  margin-bottom: 5px; }

.deleteButton {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 0; }

.tagsinput {
  border: 2px solid black; }
  .tagsinput input {
    display: inline-block;
    border: 1px solid transparent;
    padding: 5px;
    background: transparent;
    color: #000;
    outline: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: "Raleway",sans-serif;
    font-size: 1em; }
  .tagsinput a {
    color: black;
    text-decoration: none; }
    .tagsinput a:hover {
      color: #f0606d; }

#document_tags_addTag {
  display: inline-block;
  vertical-align: text-top; }

.tag {
  padding: 5px;
  border: 2px solid black;
  margin: 5px;
  display: inline-block;
  vertical-align: text-top; }

.module_overview .document {
  background: #f8dcc2; }
.module_overview .document_selected {
  background: rgba(248, 220, 194, 0.5); }

.module_preview {
  border: 2px solid black;
  padding: 20px;
  height: 100%;
  box-sizing: border-box; }
  .module_preview .default_preview_text {
    color: grey;
    font-style: italic; }

.last_edit {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 20px;
  display: inline-block; }

.module_item {
  background: #f8dcc2;
  margin-bottom: 10px;
  padding: 5px;
  display: inline-block;
  width: 100%; }

.module_item.selected {
  background: #FFEED7; }
