html, body{
	overflow: auto;
}
.document_overview{
	width: calc(100%/3*2);
	padding-right: $margin/2;
	.tag{
		border-color: $editdocumentcolor;
	}
}
.title{
	color:$editdocumentcolor;
	padding: 3px;
	margin-bottom: 12px;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: 600;
	line-height: 0.75em;
}
.title_edit{
	margin-bottom: 30px;
	font-size: 0.95em;
	padding: 5px;
	border: 2px solid black;
	padding: 3px;
	display: inline-block;
	box-shadow: 5px 5px 0px black;
	max-width: 100%;
	overflow: hidden;
	padding:7px 15px;
}


.sort{
	margin-bottom: 5px;
	a{
		color: black;
	}
}


.add_module{
	margin-top: 20px; 
}
.document_overview .search{
	margin-bottom: 20px;
	width: 25%;
	display: inline-block;
}

// .edit_module{
// 	@extend .module;
// 	color: black;
// 	background-color: white;
// 	border: 2px solid black;
// 	padding: 15px;
// 	padding-right: 25px;
// 	margin-right: 5px;
// 	box-sizing: border-box;
// 	box-shadow: 5px 5px 0px black;
// 	height:auto;
// 	margin-bottom: 22px;
// 	font-weight: 200;
// 	font-size: 0.9em;
// 	.module_title{
// 		color: $editdocumentcolor;
// 		text-transform: uppercase;
// 		font-weight: 600;
// 	}
// }
.module{
	background: $editdocumentcolor;
	color: black;
	box-sizing: border-box;
	padding: 10px 15px;
	padding-right: 25px;
	margin-right: 5px;
	margin-bottom: 22px;
	position: relative;
	cursor:pointer;
	.module_text{
		display: none;
	}
	.module_buttons{
		position: absolute;
		top: 3px;
		right: 0;
		svg{
			height: 28px;
		}
		img{
			height: 28px;
		}
	}

	&.open{
		border: 2px solid black;
		box-shadow: 5px 5px 0px black;
		background: white;
		.module_title{
			color: $editdocumentcolor;
			font-weight: 600;
		}
		.module_text{
			display: block;
		}
		svg{
			stroke: black;
		}
	}
	&.ui-sortable-helper{
		box-shadow: 5px 5px 0px black;
		border: 2px solid black;
		background: $editdocumentcolorhover;
	}
	svg{
		stroke: white;
	}
	.module_title{
		color: white;
	}
}

.insertModule {
	display: inline-block;
	position:relative;
	padding:10px 5px;
	font-size:1em;
	.insertMod {
		display: inline-block;
	}
	.insertText {
		position: absolute;
		right:5px;
		display: inline-block;

	}
	.addButton {
		display: inline-block;
		width:16px;
		height:16px;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		border-radius: 16px;
		border:2px solid black;
		text-align: center;
		font-size:1em;
		line-height:18px;
	}
	p {
		display: inline-block;
		margin:0;
		padding:0;
	}
}

.module_bottom_buttons {
	position:absolute;
	bottom:0px;
}

.deleteButton {
	position:absolute;
	bottom:0px;
	right:0px;
	margin-right:0;
}
.document_search_result:not(:empty){
	border-top: 2px solid black;
	margin-top: 5px;
	padding-top: 5px;
	.result{
		padding: 5px;
		&:hover{
			background: $editdocumentcolor;
			cursor: pointer;
		}
	}
}

.preview_title{
	padding: 0;
	padding-top: 32px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.125em;
	letter-spacing: 1px;
	display: inline-block;
}
.preview_subtitle{
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 30px;
}

.document_edit_tags .tag{
	position: relative;
		&:after{
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			margin-left: 5px;
			background: url('img/delete_icon.svg');
			background-size: 100%;
			vertical-align: text-top;
		}
}
.document_edit_navigation{
	position: absolute;
	top: 0;
	left: 20px;
	width: calc(66% - 10px);
	height: 100%;
	
}
.document_edit_preview{
	height: auto;
	@extend .document_edit_navigation;
	width: calc(33% - 20px);
	left: calc(66% + 10px);	
}
#document_tags_addTag{
	@extend .tag;
	padding-top: 1px;
	padding-bottom: 2px;
	background: #1d9099;
	border-width: 6px;

	input{
		width: 75px;
		background: #1d9099;
		font-size: 1em;
		color: white !important;
		text-transform: uppercase;
	}
}

input {
	border-width: 0;
}

input.module_title {
	text-transform: uppercase;
}

.document_buttons {
	margin-top: 30px;
	margin-bottom: 50px;
}

.document_buttons>*{
	display: inline-block;
	position: relative;
	padding: 0px 10px;
	padding-left: 30px;
	cursor: pointer;
	.icon{
		position: absolute;
		top: -8px;
		left: 0;
		width: 30px;
		height: 30px;
	}
}
.document_module_bottons{
	position: relative;
	margin-top: 25px;
}
.insertModule{
	position: absolute;
	top: 0;
	right: 0;
	color: black;
	text-decoration: none;
	&:before{
		content: '+ ';
		position: relative;
		top: -5px;
	}
}
.module_buttons a{
	text-decoration: none;
}
svg{
	margin-top:4px;
	width: 35px;
	height: 35px; 
	stroke: black;
	stroke-width:2;
}
#printDocument {
	cursor:pointer;
}