@media print{

body *{
	display: none;
}
main{
	display: block;
	height:	auto;
}
.container{
	height:	auto;
	display: block;
	border: 0;
}
.preview{
	height:	auto;
	width: auto;
	position: static;
	margin: 0;
	padding: 0;
	display: block;
	*{
		display: inherit;
	}
	.document_preview_container{
		border: 0;
	}
	.preview_buttons{
		display: none;
	}
}
}