.overview{
	position: absolute;
	top:0;
	left:0;
	width: 50%;
	height: 100%;
	overflow-y: scroll;
	box-sizing: border-box;
	padding: 10px 25px;
}
.preview{
	@extend .overview;
	left: 50%;
	background: rgba(0,0,0,0.25);
}
.document_preview{
	background: white;
	width: 210px;
	height: 297px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}
.edit_box{
	background: rgba(0,0,0,0.05);
	position: relative;
}
[data-parameter]:after{
	content: attr(data-parameter);
	position: absolute;
	top: 50%;
	right: 0;
}