html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Raleway",sans-serif;
  overflow: hidden; }

header {
  margin-top: 20px;
  font-size: 0em; }
  header a {
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid black;
    border-bottom: 0;
    font-size: 2rem;
    margin: 0 20px;
    color: black;
    text-decoration: none; }
    header a.current:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background: white; }

main {
  border: 2px solid black;
  padding: 20px;
  width: calc(100% - 10px);
  margin: 0px 10px;
  height: calc(100% - 90px);
  box-sizing: border-box; }

.container {
  position: relative;
  width: 100%;
  height: 100%; }

.navigation, .preview {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50% - 10px);
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

.preview {
  left: calc(50% + 10px); }

.document_overview {
  position: relative; }

.search {
  border: 2px solid black;
  padding: 3px;
  width: 300px;
  box-shadow: 5px 5px 0px black;
  margin-bottom: 15px; }

.sort {
  margin-bottom: 5px; }
  .sort a {
    color: black; }

.document {
  background: #88d0cc;
  margin-bottom: 10px;
  padding: 5px; }
  .document.indent-1 {
    margin-left: 35px; }

.document_container {
  height: calc(100% - 68px);
  overflow-y: scroll;
  position: relative; }

.preview_buttons {
  margin-bottom: 35px; }
  .preview_buttons a {
    color: black;
    text-decoration: none; }

.button {
  border: 2px solid black;
  padding: 5px;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 20px; }

.document_preview {
  border: 2px solid black;
  padding: 20px;
  height: calc(100% - 68px);
  box-sizing: border-box; }

.search {
  border: 2px solid black;
  padding: 3px;
  width: 300px;
  box-shadow: 5px 5px 0px black;
  margin-bottom: 15px; }

.sort {
  margin-bottom: 5px; }
  .sort a {
    color: black; }

.module {
  background: #A9D0EF;
  margin-bottom: 10px;
  padding: 5px;
  height: 20px; }
  .module p {
    display: inline-block;
    margin: 0;
    padding: 0; }
  .module .button {
    position: absolute;
    display: inline-block;
    border: 1px solid black;
    padding: 0px 4px; }
  .module .edit {
    right: 35px; }
  .module .remove {
    right: 10px; }

.module_container {
  height: 100%;
  overflow-y: scroll; }

.module_overview .document {
  background: #f8dcc2; }
