.module_overview{
	.document{
		background: #f8dcc2;
	}
	.document_selected{
		background: rgba(#f8dcc2,0.5);
	}
}
.module_preview{
	border: 2px solid black;
	padding: 20px;
	height: 100%;
	box-sizing: border-box;
	.default_preview_text{
		color: grey;
		font-style: italic; 
	}
}

.last_edit{
	margin: 0;
	padding: 0;
	position: absolute;
	right: 20px;
	display: inline-block;
}

.module_item{
	background: #f8dcc2;
	margin-bottom: 10px;
	padding: 5px;
	display: inline-block;
	width: 100%;
}

.module_item:hover{
		background: #FFEED7;
	}