$editdocument_color : #7db8df;
html, body{
	overflow: auto;
}
.document_overview{
}
.title{
	color:$editdocument_color;
	padding: 3px;
	height:32px;
	margin-bottom: 0;
	outline:none;
	font-size:1.6em;
}
.sort{
	margin-bottom: 5px;
	a{
		color: black;
	}
}

#search_edit{
	width:auto;
	display:inline-block;
	padding: 7px 10px;
}

.add_module{
	margin-top:20px; 
}
.search_module{
	border: 2px solid black;
	padding: 3px;
	width: 300px;
	display: inline-block;
	box-shadow: 5px 5px 0px black;
	margin-bottom: 15px;
	
	padding: 7px 15px;
	img{

	}
}

.module{
	position:relative;
	background: $editdocument_color;

	margin-bottom: 10px;
	padding: 5px;
	margin-right: 20px;
	height:20px;
	color:white;
	.module_title {
		display:inline-block;
		margin:0;
		padding:0;
	}
	.modulebutton {
		position: absolute;
		top:7px;
		display: inline-block;
		padding:0px 3px;
		font-size: 0.75em;

	}
	.edit {
		right:35px;
		top:8px;
	}
	.remove {
		top:9px;
		right:1px;
	}
	.save {

		right:10px;
	}
	
}
#edit_module{
	color: black;
	background-color: white;
	border: 2px solid black;
	padding:10px;
	box-shadow: 5px 5px 0px black;
	height:auto;
	margin-bottom: 15px;
	.module_title{
		color: $editdocument_color;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	p{
		
	}
}
.document_module_container{
	h2 {
		font-weight: 600;
		margin-bottom:0;
	}
}

.insertModule {
	display: inline-block;
	position:relative;
	padding:10px 5px;
	.insertMod {
		display: inline-block;
	}
	.insertText {
		position: absolute;
		right:5px;
		display: inline-block;

	}
	.addButton {
		display: inline-block;
		width:16px;
		height:16px;
		-webkit-border-radius: 16px;
		-moz-border-radius: 16px;
		border-radius: 16px;
		border:2px solid black;
		text-align: center;
		font-size:1em;
		line-height:18px;
	}
	p {
		display: inline-block;
		margin:0;
		padding:0;
	}
}

.title_edit{
	border: 2px solid black;
	padding: 3px;
	display: inline-block;
	box-shadow: 5px 5px 0px black;
	margin-bottom: 25px;

	padding:7px 15px;
}

#tag_list{
	display:inline-block;
}

.tag_item{
	display:inline-block;
	border: 2.3px solid $editdocument_color;
	margin: 0 15px 15px 0;
	padding:5px;
}

.module_bottom_buttons {
	position:absolute;
	bottom:0px;
}

.deleteButton {
	position:absolute;
	bottom:0px;
	right:0px;
	margin-right:0;
}

.preview_header{
	padding: 0;
	margin: 0;
	display: inline-block;
}

.preview_title{
	text-transform: uppercase;
	font-size: 1.2em;
	display: inline-block;
}

.preview_icons{
	display: inline-block;
	position: absolute;
	right: 10px;
	top:15px;	
}

.document_edit_navigation{
	position: absolute;
	top: 0;
	left: 0;
	width: calc(66% - 10px);
	height: 100%;
	
}
.document_edit_preview{
	height: auto;
	@extend .navigation;
	width: calc(33% - 10px);
	left: calc(66% + 10px);	

}